{{#if failed}}
  <h4 class="bg-danger text-white p-2 text-center">
    Authentication failed. Please try again
  </h4>
{{/if}}

<form method="post">
  <div class="m-2">
    <label class="form-label">Name</label>
    <input type="text" name="username" class="form-control" value="{{username}}">
  </div>
  <div class="m-2">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" value="{{password}}">
  </div>
  <input type="submit" class="btn btn-primary mx-2" value="Sign In">
</form>