<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeWeb</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/bundle.js"></script>
</head>

<body>
  {{#if authenticated}}
    <div class="bg-primary text-white p-1 clearfix">
      <form action="/signout" method="post">
        <span class="h5">User: {{user.username}}</span>
        <button class="btn btn-secondary btn-sm float-end" type="submit">Sign Out</button>
      </form>
    </div>
  {{else}}
    {{#unless signinpage}}
      <div class="bg-primary text-white p-1 clearfix">
        <a href="/signin" class="btn btn-secondary btn-sm float-end">Sign In</a>
      </div>
    {{/unless}}
  {{/if}}
  <div class="container py-">{{{ body }}}</div>
</body>

</html>